*.class
src/classmate
src/compress
src/stego
src/train
src/train2
src/train3
src/train4
src/train5
src/train6
src/trainNew1
src/trainNew2
src/trainNew3
src/trainNew4
src/trainNew5
src/trainNew6
src/trainNew7
src/trainNew8
src/trainNew9
src/trainNew10
src/trainNew11
src/trainNew12
src/trainNewKotlin1
src/trainNewKotlin2
src/trainNewKotlin3
src/trainNewKotlin4
src/trainNewKotlin5
src/trainNewKotlin6
src/trainNewKotlin7
src/trainNewKotlin8
src/z_Kotlin